body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', system-ui;
  font-display: fallback;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:-moz-any-link {
  text-decoration: none;
}

a:any-link {
  text-decoration: none;
}

.container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-light {
  color: #ffffff;
}

.text-dark {
  color: #1c1c1c;
}

.fixed-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: gray;
  z-index: 10000;
}

@media (min-width: 1024px) {
  .fixed-bar {
    background-color: #D50F25;
  }
}

@media (max-width: 1023px) {
  .fixed-bar {
    background-color: #3369E8;
  }
}

@media (max-width: 750px) {
  .fixed-bar {
    background-color: #EEB211;
  }
}

@media (max-width: 450px) {
  .fixed-bar {
    background-color: #009925;
  }
}

h1 {
  font-size: 4rem;
}

@media (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 3rem;
}

@media (max-width: 750px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 2rem;
}

@media (max-width: 450px) {
  h3 {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  h3 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.5rem;
}

@media (max-width: 450px) {
  h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  h4 {
    font-size: 0.8rem;
  }
}

.display-1 {
  font-size: 4rem;
}

@media (max-width: 750px) {
  .display-1 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  .display-1 {
    font-size: 2rem;
  }
}

.display-2 {
  font-size: 3rem;
}

@media (max-width: 750px) {
  .display-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  .display-2 {
    font-size: 1.5rem;
  }
}

.display-3 {
  font-size: 2rem;
}

@media (max-width: 750px) {
  .display-3 {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .display-3 {
    font-size: 1rem;
  }
}

.display-4 {
  font-size: 1.5rem;
}

@media (max-width: 750px) {
  .display-4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .display-4 {
    font-size: 1rem;
  }
}

.text-shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot?8mvhz6");
  src: url("../icons/icomoon.eot?8mvhz6#iefix") format("embedded-opentype"), url("../icons/icomoon.ttf?8mvhz6") format("truetype"), url("../icons/icomoon.woff?8mvhz6") format("woff"), url("../icons/icomoon.svg?8mvhz6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
}

.icon-airplay:before {
  content: "\e901";
}

.icon-alert-circle:before {
  content: "\e902";
}

.icon-alert-octagon:before {
  content: "\e903";
}

.icon-alert-triangle:before {
  content: "\e904";
}

.icon-align-center:before {
  content: "\e905";
}

.icon-align-justify:before {
  content: "\e906";
}

.icon-align-left:before {
  content: "\e907";
}

.icon-align-right:before {
  content: "\e908";
}

.icon-anchor:before {
  content: "\e909";
}

.icon-aperture:before {
  content: "\e90a";
}

.icon-archive:before {
  content: "\e90b";
}

.icon-arrow-down-circle:before {
  content: "\e90c";
}

.icon-arrow-down-left:before {
  content: "\e90d";
}

.icon-arrow-down-right:before {
  content: "\e90e";
}

.icon-arrow-down:before {
  content: "\e90f";
}

.icon-arrow-left-circle:before {
  content: "\e910";
}

.icon-arrow-left:before {
  content: "\e911";
}

.icon-arrow-right-circle:before {
  content: "\e912";
}

.icon-arrow-right:before {
  content: "\e913";
}

.icon-arrow-up-circle:before {
  content: "\e914";
}

.icon-arrow-up-left:before {
  content: "\e915";
}

.icon-arrow-up-right:before {
  content: "\e916";
}

.icon-arrow-up:before {
  content: "\e917";
}

.icon-at-sign:before {
  content: "\e918";
}

.icon-award:before {
  content: "\e919";
}

.icon-bar-chart-2:before {
  content: "\e91a";
}

.icon-bar-chart:before {
  content: "\e91b";
}

.icon-battery-charging:before {
  content: "\e91c";
}

.icon-battery:before {
  content: "\e91d";
}

.icon-bell-off:before {
  content: "\e91e";
}

.icon-bell:before {
  content: "\e91f";
}

.icon-bluetooth:before {
  content: "\e920";
}

.icon-bold:before {
  content: "\e921";
}

.icon-book-open:before {
  content: "\e922";
}

.icon-book:before {
  content: "\e923";
}

.icon-bookmark:before {
  content: "\e924";
}

.icon-box:before {
  content: "\e925";
}

.icon-briefcase:before {
  content: "\e926";
}

.icon-calendar:before {
  content: "\e927";
}

.icon-camera-off:before {
  content: "\e928";
}

.icon-camera:before {
  content: "\e929";
}

.icon-cast:before {
  content: "\e92a";
}

.icon-check-circle:before {
  content: "\e92b";
}

.icon-check-square:before {
  content: "\e92c";
}

.icon-check:before {
  content: "\e92d";
}

.icon-chevron-down:before {
  content: "\e92e";
}

.icon-chevron-left:before {
  content: "\e92f";
}

.icon-chevron-right:before {
  content: "\e930";
}

.icon-chevron-up:before {
  content: "\e931";
}

.icon-chevrons-down:before {
  content: "\e932";
}

.icon-chevrons-left:before {
  content: "\e933";
}

.icon-chevrons-right:before {
  content: "\e934";
}

.icon-chevrons-up:before {
  content: "\e935";
}

.icon-chrome:before {
  content: "\e936";
}

.icon-circle:before {
  content: "\e937";
}

.icon-clipboard:before {
  content: "\e938";
}

.icon-clock:before {
  content: "\e939";
}

.icon-cloud-drizzle:before {
  content: "\e93a";
}

.icon-cloud-lightning:before {
  content: "\e93b";
}

.icon-cloud-off:before {
  content: "\e93c";
}

.icon-cloud-rain:before {
  content: "\e93d";
}

.icon-cloud-snow:before {
  content: "\e93e";
}

.icon-cloud:before {
  content: "\e93f";
}

.icon-code:before {
  content: "\e940";
}

.icon-codepen:before {
  content: "\e941";
}

.icon-coffee:before {
  content: "\e942";
}

.icon-command:before {
  content: "\e943";
}

.icon-compass:before {
  content: "\e944";
}

.icon-copy:before {
  content: "\e945";
}

.icon-corner-down-left:before {
  content: "\e946";
}

.icon-corner-down-right:before {
  content: "\e947";
}

.icon-corner-left-down:before {
  content: "\e948";
}

.icon-corner-left-up:before {
  content: "\e949";
}

.icon-corner-right-down:before {
  content: "\e94a";
}

.icon-corner-right-up:before {
  content: "\e94b";
}

.icon-corner-up-left:before {
  content: "\e94c";
}

.icon-corner-up-right:before {
  content: "\e94d";
}

.icon-cpu:before {
  content: "\e94e";
}

.icon-credit-card:before {
  content: "\e94f";
}

.icon-crop:before {
  content: "\e950";
}

.icon-crosshair:before {
  content: "\e951";
}

.icon-database:before {
  content: "\e952";
}

.icon-delete:before {
  content: "\e953";
}

.icon-disc:before {
  content: "\e954";
}

.icon-dollar-sign:before {
  content: "\e955";
}

.icon-download-cloud:before {
  content: "\e956";
}

.icon-download:before {
  content: "\e957";
}

.icon-droplet:before {
  content: "\e958";
}

.icon-edit-2:before {
  content: "\e959";
}

.icon-edit-3:before {
  content: "\e95a";
}

.icon-edit:before {
  content: "\e95b";
}

.icon-external-link:before {
  content: "\e95c";
}

.icon-eye-off:before {
  content: "\e95d";
}

.icon-eye:before {
  content: "\e95e";
}

.icon-facebook:before {
  content: "\e95f";
}

.icon-fast-forward:before {
  content: "\e960";
}

.icon-feather:before {
  content: "\e961";
}

.icon-figma:before {
  content: "\e962";
}

.icon-file-minus:before {
  content: "\e963";
}

.icon-file-plus:before {
  content: "\e964";
}

.icon-file-text:before {
  content: "\e965";
}

.icon-file:before {
  content: "\e966";
}

.icon-film:before {
  content: "\e967";
}

.icon-filter:before {
  content: "\e968";
}

.icon-flag:before {
  content: "\e969";
}

.icon-folder-minus:before {
  content: "\e96a";
}

.icon-folder-plus:before {
  content: "\e96b";
}

.icon-folder:before {
  content: "\e96c";
}

.icon-frown:before {
  content: "\e96d";
}

.icon-gift:before {
  content: "\e96e";
}

.icon-git-branch:before {
  content: "\e96f";
}

.icon-git-commit:before {
  content: "\e970";
}

.icon-git-merge:before {
  content: "\e971";
}

.icon-git-pull-request:before {
  content: "\e972";
}

.icon-github:before {
  content: "\e973";
}

.icon-gitlab:before {
  content: "\e974";
}

.icon-globe:before {
  content: "\e975";
}

.icon-grid:before {
  content: "\e976";
}

.icon-hard-drive:before {
  content: "\e977";
}

.icon-hash:before {
  content: "\e978";
}

.icon-headphones:before {
  content: "\e979";
}

.icon-heart:before {
  content: "\e97a";
}

.icon-help-circle:before {
  content: "\e97b";
}

.icon-home:before {
  content: "\e97c";
}

.icon-image:before {
  content: "\e97d";
}

.icon-inbox:before {
  content: "\e97e";
}

.icon-info:before {
  content: "\e97f";
}

.icon-instagram:before {
  content: "\e980";
}

.icon-italic:before {
  content: "\e981";
}

.icon-key:before {
  content: "\e982";
}

.icon-layers:before {
  content: "\e983";
}

.icon-layout:before {
  content: "\e984";
}

.icon-life-buoy:before {
  content: "\e985";
}

.icon-link-2:before {
  content: "\e986";
}

.icon-link:before {
  content: "\e987";
}

.icon-linkedin:before {
  content: "\e988";
}

.icon-list:before {
  content: "\e989";
}

.icon-loader:before {
  content: "\e98a";
}

.icon-lock:before {
  content: "\e98b";
}

.icon-log-in:before {
  content: "\e98c";
}

.icon-log-out:before {
  content: "\e98d";
}

.icon-mail:before {
  content: "\e98e";
}

.icon-map-pin:before {
  content: "\e98f";
}

.icon-map:before {
  content: "\e990";
}

.icon-maximize-2:before {
  content: "\e991";
}

.icon-maximize:before {
  content: "\e992";
}

.icon-meh:before {
  content: "\e993";
}

.icon-menu:before {
  content: "\e994";
}

.icon-message-circle:before {
  content: "\e995";
}

.icon-message-square:before {
  content: "\e996";
}

.icon-mic-off:before {
  content: "\e997";
}

.icon-mic:before {
  content: "\e998";
}

.icon-minimize-2:before {
  content: "\e999";
}

.icon-minimize:before {
  content: "\e99a";
}

.icon-minus-circle:before {
  content: "\e99b";
}

.icon-minus-square:before {
  content: "\e99c";
}

.icon-minus:before {
  content: "\e99d";
}

.icon-monitor:before {
  content: "\e99e";
}

.icon-moon:before {
  content: "\e99f";
}

.icon-more-horizontal:before {
  content: "\e9a0";
}

.icon-more-vertical:before {
  content: "\e9a1";
}

.icon-mouse-pointer:before {
  content: "\e9a2";
}

.icon-move:before {
  content: "\e9a3";
}

.icon-music:before {
  content: "\e9a4";
}

.icon-navigation-2:before {
  content: "\e9a5";
}

.icon-navigation:before {
  content: "\e9a6";
}

.icon-octagon:before {
  content: "\e9a7";
}

.icon-package:before {
  content: "\e9a8";
}

.icon-paperclip:before {
  content: "\e9a9";
}

.icon-pause-circle:before {
  content: "\e9aa";
}

.icon-pause:before {
  content: "\e9ab";
}

.icon-pen-tool:before {
  content: "\e9ac";
}

.icon-percent:before {
  content: "\e9ad";
}

.icon-phone-call:before {
  content: "\e9ae";
}

.icon-phone-forwarded:before {
  content: "\e9af";
}

.icon-phone-incoming:before {
  content: "\e9b0";
}

.icon-phone-missed:before {
  content: "\e9b1";
}

.icon-phone-off:before {
  content: "\e9b2";
}

.icon-phone-outgoing:before {
  content: "\e9b3";
}

.icon-phone:before {
  content: "\e9b4";
}

.icon-pie-chart:before {
  content: "\e9b5";
}

.icon-play-circle:before {
  content: "\e9b6";
}

.icon-play:before {
  content: "\e9b7";
}

.icon-plus-circle:before {
  content: "\e9b8";
}

.icon-plus-square:before {
  content: "\e9b9";
}

.icon-plus:before {
  content: "\e9ba";
}

.icon-pocket:before {
  content: "\e9bb";
}

.icon-power:before {
  content: "\e9bc";
}

.icon-printer:before {
  content: "\e9bd";
}

.icon-radio:before {
  content: "\e9be";
}

.icon-refresh-ccw:before {
  content: "\e9bf";
}

.icon-refresh-cw:before {
  content: "\e9c0";
}

.icon-repeat:before {
  content: "\e9c1";
}

.icon-rewind:before {
  content: "\e9c2";
}

.icon-rotate-ccw:before {
  content: "\e9c3";
}

.icon-rotate-cw:before {
  content: "\e9c4";
}

.icon-rss:before {
  content: "\e9c5";
}

.icon-save:before {
  content: "\e9c6";
}

.icon-scissors:before {
  content: "\e9c7";
}

.icon-search:before {
  content: "\e9c8";
}

.icon-send:before {
  content: "\e9c9";
}

.icon-server:before {
  content: "\e9ca";
}

.icon-settings:before {
  content: "\e9cb";
}

.icon-share-2:before {
  content: "\e9cc";
}

.icon-share:before {
  content: "\e9cd";
}

.icon-shield-off:before {
  content: "\e9ce";
}

.icon-shield:before {
  content: "\e9cf";
}

.icon-shopping-bag:before {
  content: "\e9d0";
}

.icon-shopping-cart:before {
  content: "\e9d1";
}

.icon-shuffle:before {
  content: "\e9d2";
}

.icon-sidebar:before {
  content: "\e9d3";
}

.icon-skip-back:before {
  content: "\e9d4";
}

.icon-skip-forward:before {
  content: "\e9d5";
}

.icon-slack:before {
  content: "\e9d6";
}

.icon-slash:before {
  content: "\e9d7";
}

.icon-sliders:before {
  content: "\e9d8";
}

.icon-smartphone:before {
  content: "\e9d9";
}

.icon-smile:before {
  content: "\e9da";
}

.icon-speaker:before {
  content: "\e9db";
}

.icon-square:before {
  content: "\e9dc";
}

.icon-star:before {
  content: "\e9dd";
}

.icon-stop-circle:before {
  content: "\e9de";
}

.icon-sun:before {
  content: "\e9df";
}

.icon-sunrise:before {
  content: "\e9e0";
}

.icon-sunset:before {
  content: "\e9e1";
}

.icon-tablet:before {
  content: "\e9e2";
}

.icon-tag:before {
  content: "\e9e3";
}

.icon-target:before {
  content: "\e9e4";
}

.icon-terminal:before {
  content: "\e9e5";
}

.icon-thermometer:before {
  content: "\e9e6";
}

.icon-thumbs-down:before {
  content: "\e9e7";
}

.icon-thumbs-up:before {
  content: "\e9e8";
}

.icon-toggle-left:before {
  content: "\e9e9";
}

.icon-toggle-right:before {
  content: "\e9ea";
}

.icon-trash-2:before {
  content: "\e9eb";
}

.icon-trash:before {
  content: "\e9ec";
}

.icon-trello:before {
  content: "\e9ed";
}

.icon-trending-down:before {
  content: "\e9ee";
}

.icon-trending-up:before {
  content: "\e9ef";
}

.icon-triangle:before {
  content: "\e9f0";
}

.icon-truck:before {
  content: "\e9f1";
}

.icon-tv:before {
  content: "\e9f2";
}

.icon-twitter:before {
  content: "\e9f3";
}

.icon-type:before {
  content: "\e9f4";
}

.icon-umbrella:before {
  content: "\e9f5";
}

.icon-underline:before {
  content: "\e9f6";
}

.icon-unlock:before {
  content: "\e9f7";
}

.icon-upload-cloud:before {
  content: "\e9f8";
}

.icon-upload:before {
  content: "\e9f9";
}

.icon-user-check:before {
  content: "\e9fa";
}

.icon-user-minus:before {
  content: "\e9fb";
}

.icon-user-plus:before {
  content: "\e9fc";
}

.icon-user-x:before {
  content: "\e9fd";
}

.icon-user:before {
  content: "\e9fe";
}

.icon-users:before {
  content: "\e9ff";
}

.icon-video-off:before {
  content: "\ea00";
}

.icon-video:before {
  content: "\ea01";
}

.icon-voicemail:before {
  content: "\ea02";
}

.icon-volume-1:before {
  content: "\ea03";
}

.icon-volume-2:before {
  content: "\ea04";
}

.icon-volume-x:before {
  content: "\ea05";
}

.icon-volume:before {
  content: "\ea06";
}

.icon-watch:before {
  content: "\ea07";
}

.icon-wifi-off:before {
  content: "\ea08";
}

.icon-wifi:before {
  content: "\ea09";
}

.icon-wind:before {
  content: "\ea0a";
}

.icon-x-circle:before {
  content: "\ea0b";
}

.icon-x-octagon:before {
  content: "\ea0c";
}

.icon-x-square:before {
  content: "\ea0d";
}

.icon-x:before {
  content: "\ea0e";
}

.icon-youtube:before {
  content: "\ea0f";
}

.icon-zap-off:before {
  content: "\ea10";
}

.icon-zap:before {
  content: "\ea11";
}

.icon-zoom-in:before {
  content: "\ea12";
}

.icon-zoom-out:before {
  content: "\ea13";
}

.m-0 {
  margin: 0;
}

.m-m {
  margin: 15px;
}

.m-1 {
  margin: 30px;
}

.m-2 {
  margin: 60px;
}

.m-3 {
  margin: 90px;
}

.mt-m {
  margin-top: 15px;
}

.mt-1 {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 60px;
}

.mt-3 {
  margin-top: 90px;
}

.mr-m {
  margin-right: 15px;
}

.mr-1 {
  margin-right: 30px;
}

.mr-2 {
  margin-right: 60px;
}

.mr-3 {
  margin-right: 90px;
}

.mb-m {
  margin-bottom: 15px;
}

.mb-1 {
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 60px;
}

.mb-3 {
  margin-bottom: 90px;
}

.ml-m {
  margin-left: 15px;
}

.ml-1 {
  margin-left: 30px;
}

.ml-2 {
  margin-left: 60px;
}

.ml-3 {
  margin-left: 90px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-justify-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.flex-justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn-primary-flat, .btn-primary-bordered, .btn-primary-rounded, .btn-secondary-flat, .btn-secondary-bordered, .btn-secondary-rounded, .btn-light-flat, .btn-light-bordered, .btn-light-rounded, .btn-dark-flat, .btn-dark-bordered, .btn-dark-rounded {
  width: auto;
  height: auto;
  padding: 15px 30px;
  margin: 5px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}

.btn-primary-flat {
  background-color: #0564FF;
}

.btn-primary-bordered {
  background-color: #0564FF;
  border-radius: 5px;
}

.btn-primary-rounded {
  background-color: #0564FF;
  border-radius: 50px;
}

.btn-secondary-flat {
  background-color: #4C0DFF;
}

.btn-secondary-bordered {
  background-color: #4C0DFF;
  border-radius: 5px;
}

.btn-secondary-rounded {
  background-color: #4C0DFF;
  border-radius: 50px;
}

.btn-light-flat {
  background-color: #ffffff;
  color: #1c1c1c;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.btn-light-bordered {
  background-color: #ffffff;
  color: #1c1c1c;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.btn-light-rounded {
  background-color: #ffffff;
  color: #1c1c1c;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
}

.btn-dark-flat {
  background-color: #1c1c1c;
}

.btn-dark-bordered {
  background-color: #1c1c1c;
  border-radius: 5px;
}

.btn-dark-rounded {
  background-color: #1c1c1c;
  border-radius: 50px;
}

.barcontact-01-primary {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0564FF;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 2;
}

@media (max-width: 750px) {
  .barcontact-01-primary {
    display: none;
  }
}

.barcontact-01-primary div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .8rem;
  margin: 0 15px;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .barcontact-01-primary div {
    font-size: .7rem;
  }
}

.barcontact-01-primary div p {
  padding: 0;
  margin: 0 0 0 5px;
}

.barcontact-01-secondary {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4C0DFF;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 2;
}

@media (max-width: 750px) {
  .barcontact-01-secondary {
    display: none;
  }
}

.barcontact-01-secondary div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .8rem;
  margin: 0 15px;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .barcontact-01-secondary div {
    font-size: .7rem;
  }
}

.barcontact-01-secondary div p {
  padding: 0;
  margin: 0 0 0 5px;
}

.barcontact-01-dark {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 2;
}

@media (max-width: 750px) {
  .barcontact-01-dark {
    display: none;
  }
}

.barcontact-01-dark div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .8rem;
  margin: 0 15px;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .barcontact-01-dark div {
    font-size: .7rem;
  }
}

.barcontact-01-dark div p {
  padding: 0;
  margin: 0 0 0 5px;
}

.barcontact-02-primary {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0564FF;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 2;
}

@media (max-width: 750px) {
  .barcontact-02-primary {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.barcontact-02-primary div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .8rem;
  margin: 0 15px;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .barcontact-02-primary div {
    font-size: .7rem;
  }
}

@media (max-width: 750px) {
  .barcontact-02-primary div {
    text-align: center;
  }
}

.barcontact-02-primary div p {
  padding: 0;
  margin: 0 0 0 5px;
}

.barcontact-02-secondary {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4C0DFF;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 2;
}

@media (max-width: 750px) {
  .barcontact-02-secondary {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.barcontact-02-secondary div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .8rem;
  margin: 0 15px;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .barcontact-02-secondary div {
    font-size: .7rem;
  }
}

@media (max-width: 750px) {
  .barcontact-02-secondary div {
    text-align: center;
  }
}

.barcontact-02-secondary div p {
  padding: 0;
  margin: 0 0 0 5px;
}

.barcontact-02-dark {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 2;
}

@media (max-width: 750px) {
  .barcontact-02-dark {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.barcontact-02-dark div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .8rem;
  margin: 0 15px;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .barcontact-02-dark div {
    font-size: .7rem;
  }
}

@media (max-width: 750px) {
  .barcontact-02-dark div {
    text-align: center;
  }
}

.barcontact-02-dark div p {
  padding: 0;
  margin: 0 0 0 5px;
}

header {
  max-height: 120px;
}

header img {
  max-width: 168px;
  max-height: 65px;
}

header nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 224px;
  height: 100vh;
  padding: 20px 5px;
  left: -100%;
  top: 0;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  z-index: 98;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 0 !important;
}

header nav ul li a {
  text-decoration: none;
  outline: none;
}

.navbar-02-dark, .navbar-02-light, .navbar-02-dark-transparent, .navbar-02-light-transparent {
  width: calc(100% - 60px);
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 30px;
}

.navbar-02-dark li, .navbar-02-light li, .navbar-02-dark-transparent li, .navbar-02-light-transparent li {
  padding: 0px 10px;
}

.navbar-02-dark {
  background: #1c1c1c;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.navbar-02-dark a {
  color: #ffffff;
}

.navbar-02-light {
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: #1c1c1c;
}

.navbar-02-light a {
  color: #1c1c1c;
}

.navbar-02-dark-transparent {
  position: absolute;
  background: transparent;
  color: #1c1c1c;
}

.navbar-02-dark-transparent a {
  color: #1c1c1c;
}

.navbar-02-light-transparent {
  position: absolute;
  background: transparent;
  color: #ffffff;
}

.navbar-02-light-transparent a {
  color: #ffffff;
}

.navbar-btn-open {
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.navbar-btn-close {
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 97;
  background-color: #1c1c1c;
  padding: 10px;
  transition: .3s all ease;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.navbar-footer-social a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0 10px;
}

.navbar-btn-active {
  left: calc(0% + 234px);
}

.navbar-btn-light {
  color: #1c1c1c;
  background-color: #ffffff;
}

.navbar-btn-dark {
  color: #ffffff;
  background-color: #1c1c1c;
}

.sidebar-active {
  left: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sidebar-light {
  background-color: #ffffff;
}

.sidebar-light a {
  color: #1c1c1c;
}

.sidebar-dark {
  background-color: #1c1c1c;
}

.sidebar-dark a {
  color: #ffffff;
}

@media (max-width: 750px) {
  .navbar-social {
    display: none;
  }
}

.navbar-social a {
  font-size: 1.3rem;
  padding: 10px;
  margin: 0 2px;
  background-color: #ffffff;
  color: #1c1c1c;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.layout-content-01 {
  width: 32%;
  height: auto;
  margin: 5px 5px 20px 5px;
  display: inline-block;
}

@media (max-width: 1023px) {
  .layout-content-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .layout-content-01 {
    width: 80%;
    display: inline-block;
    margin-bottom: 60px;
  }
}

@media (max-width: 450px) {
  .layout-content-01 {
    width: 100%;
  }
}

.layout-content-01 img {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 1023px) {
  .layout-content-01 img {
    width: 50%;
    display: inline-block;
  }
}

@media (max-width: 750px) {
  .layout-content-01 img {
    width: 100%;
    max-height: auto;
  }
}

@media (max-width: 450px) {
  .layout-content-01 img {
    width: 100%;
  }
}

.layout-content-01 div {
  padding: 5px;
}

@media (max-width: 1023px) {
  .layout-content-01 div {
    padding-left: 20px;
  }
}

@media (max-width: 750px) {
  .layout-content-01 div {
    padding: 0;
  }
}

.layout-content-01 h3 {
  margin: 8px 0;
}

.layout-content-02 {
  width: 45%;
  height: auto;
  display: inline-block;
  margin-bottom: 30px;
}

@media (max-width: 750px) {
  .layout-content-02 {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .layout-content-02 {
    width: 100%;
  }
}

.layout-content-02 img {
  width: 100%;
  border-radius: 15px;
}

.layout-content-02 div {
  padding: 5px;
}

.layout-content-02 h3 {
  margin: 8px 0;
}

.layout-content-03 {
  width: 45%;
  min-width: 50px;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding-right: 10px;
}

@media (max-width: 1023px) {
  .layout-content-03 {
    width: 45%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-right: 0px;
  }
}

@media (max-width: 750px) {
  .layout-content-03 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left;
  }
}

@media (max-width: 450px) {
  .layout-content-03 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

.layout-content-03 img {
  width: 200px;
  border-radius: 15px;
  display: inline-block;
}

@media (max-width: 450px) {
  .layout-content-03 img {
    width: 70%;
  }
}

.layout-content-03 div {
  padding: 10px;
}

.layout-content-03 h3 {
  font-size: 1.4rem;
  margin: 8px 0;
}

.layout-content-03 p {
  font-size: .9rem;
}

.layout-content-04 {
  width: 90%;
  height: 400px;
  margin-bottom: 30px;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

@media (max-width: 1023px) {
  .layout-content-04 {
    width: 100%;
  }
}

.layout-content-04 div {
  padding: 5px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.layout-content-04 h3 {
  margin: 8px 0;
}

.layout-content-04 p {
  width: 60%;
}

@media (max-width: 1023px) {
  .layout-content-04 p {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .layout-content-04 p {
    width: 90%;
  }
}

.layout-content-05 {
  width: 45%;
  height: 300px;
  margin-bottom: 30px;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

@media (max-width: 750px) {
  .layout-content-05 {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .layout-content-05 {
    width: 90%;
  }
}

.layout-content-05 div {
  padding: 5px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.layout-content-05 h3 {
  margin: 8px 0;
}

.layout-content-05 p {
  width: 100%;
}

.layout-content-06-large {
  width: 60%;
  height: 300px;
  margin-bottom: 30px;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

@media (max-width: 1023px) {
  .layout-content-06-large {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .layout-content-06-large {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .layout-content-06-large {
    width: 90%;
  }
}

.layout-content-06-large div {
  padding: 5px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.layout-content-06-large h3 {
  margin: 8px 0;
}

.layout-content-06-large p {
  width: 100%;
}

.layout-content-06-small {
  width: 30%;
  height: 300px;
  margin-bottom: 30px;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

@media (max-width: 1023px) {
  .layout-content-06-small {
    width: 40%;
  }
}

@media (max-width: 750px) {
  .layout-content-06-small {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .layout-content-06-small {
    width: 90%;
  }
}

.layout-content-06-small div {
  padding: 5px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.layout-content-06-small h3 {
  margin: 8px 0;
}

.layout-content-06-small p {
  width: 100%;
}

.layout-content-07-left {
  width: 90%;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 750px) {
  .layout-content-07-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .layout-content-07-left {
    width: 100%;
  }
}

.layout-content-07-left img {
  width: 50%;
  border-radius: 15px;
}

@media (max-width: 750px) {
  .layout-content-07-left img {
    width: 100%;
  }
}

.layout-content-07-left div {
  padding: 5px;
  margin-left: 15px;
}

.layout-content-07-left h3 {
  margin: 8px 0;
}

.layout-content-07-right {
  width: 90%;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 750px) {
  .layout-content-07-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

@media (max-width: 450px) {
  .layout-content-07-right {
    width: 100%;
  }
}

.layout-content-07-right img {
  width: 50%;
  border-radius: 15px;
}

@media (max-width: 750px) {
  .layout-content-07-right img {
    width: 100%;
  }
}

.layout-content-07-right div {
  padding: 5px;
  margin-left: 15px;
}

.layout-content-07-right h3 {
  margin: 8px 0;
}

.testimonials {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.testimonial-info {
  margin: 5px 0 0 10px;
}

.testimonial-info h4 {
  font-size: 1.2rem;
  margin: 8px 0;
}

.testimonial-info p {
  font-size: 0.9rem;
}

.testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1124px) {
  .testimonial-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

.testimonial-01-light {
  display: inline-block;
  width: 360px;
  height: auto;
  min-height: 147px;
  padding: 20px;
  margin: 5px;
  background-color: #ffffff;
  color: #1c1c1c;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

@media only screen and (max-width: 1280px) {
  .testimonial-01-light {
    width: 280px;
  }
}

@media only screen and (max-width: 1050px) {
  .testimonial-01-light {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .testimonial-01-light {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .testimonial-01-light {
    width: 100%;
  }
}

.testimonial-01-light img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.testimonial-01-primary {
  display: inline-block;
  width: 360px;
  height: auto;
  min-height: 147px;
  padding: 20px;
  margin: 5px;
  background-color: #0564FF;
  color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

@media only screen and (max-width: 1280px) {
  .testimonial-01-primary {
    width: 280px;
  }
}

@media only screen and (max-width: 1050px) {
  .testimonial-01-primary {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .testimonial-01-primary {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .testimonial-01-primary {
    width: 100%;
  }
}

.testimonial-01-primary img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.testimonial-01-secondary {
  display: inline-block;
  width: 360px;
  height: auto;
  min-height: 147px;
  padding: 20px;
  margin: 5px;
  background-color: #4C0DFF;
  color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

@media only screen and (max-width: 1280px) {
  .testimonial-01-secondary {
    width: 280px;
  }
}

@media only screen and (max-width: 1050px) {
  .testimonial-01-secondary {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .testimonial-01-secondary {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .testimonial-01-secondary {
    width: 100%;
  }
}

.testimonial-01-secondary img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.testimonial-01-dark {
  display: inline-block;
  width: 360px;
  height: auto;
  min-height: 147px;
  padding: 20px;
  margin: 5px;
  background-color: #1c1c1c;
  color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

@media only screen and (max-width: 1280px) {
  .testimonial-01-dark {
    width: 280px;
  }
}

@media only screen and (max-width: 1050px) {
  .testimonial-01-dark {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .testimonial-01-dark {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .testimonial-01-dark {
    width: 100%;
  }
}

.testimonial-01-dark img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

main {
  width: calc(100% - 40px);
  height: 600px;
  padding: 20px;
  margin: 0;
  background-image: url(../images/amazing/hero_main_wallpaper.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

@media (max-width: 1023px) {
  main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  main {
    height: 80vh;
  }
}

main div {
  width: 600px;
  height: auto;
}

@media (max-width: 1023px) {
  main div {
    text-align: center;
    margin: 0 !important;
  }
}

@media (max-width: 750px) {
  main div {
    width: 100%;
  }
}

@media (max-width: 450px) {
  main div {
    text-align: left;
  }
}

.container-cards {
  width: 90%;
  max-width: 1178px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
}

@media (max-width: 1023px) {
  .container-cards {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .container-cards {
    width: 100%;
  }
}

.card-01-light {
  width: 286px;
  max-width: 286px;
  height: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 20px;
  border-radius: 20px;
  color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#card_001 {
  background-image: url(../images/assets/ramo-de-rosas.webp);
}

#card_002 {
  background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_003 {
  background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_004 {
  background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_005 {
  background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_006 {
  background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_007 {
  background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_008 {
  background-image: url(../images/amazing/hero_main_wallpaper.webp);
}
