// Global ID Project

#card_001{
	background-image: url(../images/assets/ramo-de-rosas.webp);
}

#card_002{
	background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_003{
	background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_004{
	background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_005{
	background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_006{
	background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_007{
	background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#card_008{
	background-image: url(../images/amazing/hero_main_wallpaper.webp);
}

#layout-content-full-01{
	background-image: url(../images/amazing/hero_main_wallpaper.webp);
}