// Buttons Rules

%btn{
	width: auto;
    padding: 15px 30px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: none;
}

%btn-primary-property{
	color: $colorLight;
	background-color: $colorPrimary;
}

.btn-primary{
	@extend %btn;
	@extend %btn-primary-property;
}

.btn-rounded{
	border-radius: 50px;
}