// Color Rules

$colorPrimary: #0564FF;
$colorSecondary: #4C0DFF;

$colorLight: #ffffff;
$colorDark: #1c1c1c;

$colorFacebook: #3C5A99;
$colorYoutube: #FF0000;
$colorInstagram: #D10869;
$colorTwitter: #1DA1F3;

$colorTransparent: transparent;

.text-light{
	color: $colorLight;
}

.text-dark{
	color: $colorDark;
}