// Layout content

.layout-content-01{
	width: 32%;
	height: auto;
	margin: 5px 5px 20px 5px;
	display: inline-block;
	@media #{$l} {
		display: flex;
		align-items: center;
		width: 80%;
	}
	@media #{$m} {
		width: 80%;
		display: inline-block;
		margin-bottom: 60px;
	}
	@media #{$sm} {
		width: 100%;
	}
	& img{
		width: 100%;
		@media #{$l} {
		    width: 50%;
		    display: inline-block;
	    }
	    @media #{$m} {
		    width: 100%;
		    max-height: auto;
	    }
	    @media #{$sm} {
		    width: 100%;
	    }
	}
	& div{
		padding: 5px;
		@media #{$l} {
			padding-left: 20px;
	    }
	    @media #{$m} {
		    padding: 0;
	    }
	}
	h3{
		margin: 8px 0;
	}
}