// Layout content

.layout-content-05{
	width: 45%;
	height: 300px;
	margin-bottom: 30px;
	padding: 10px;
	display: inline-flex;
	align-items: flex-end;
	@include backgroundImage(center);
	border-radius: 15px;
	@media #{$l} {
		// width: 100%;
	}
	@media #{$m} {
		width: 80%;
	}
	@media #{$sm} {
		width: 90%;
	}
	& div{
		padding: 5px;
		color: $colorLight;
		@include textShadow;
	}
	h3{
		margin: 8px 0;
	}
	p{
		width: 100%;
		@media #{$l} {
		    // 
	    }
	    @media #{$m} {
		    // 
	    }
	}
}