// Principal Tags Document --------------------------------------------------------------
body{
	margin: 0;
	padding: 0;
	font-family: 'montserrat', system-ui;
	font-display: fallback;
	overflow-x: hidden;
	user-select: none;
	outline: none;
}

a:any-link{
	text-decoration: none;
	cursor: pointer;
}

section{
	margin: 60px 0 90px 0;
	padding: 0 30px;
}

h2{
	margin-top: 0;
	margin-bottom: 60px;
}

.container-content{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.b-lazy {
    opacity:0;
    transform: translateY(-100px);
    transition: all 800ms;
}

.b-loaded {
    opacity:1;
    transform: translateY(0px);
}

// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------

@charset 'UTF-8';

// Base Assets ---------------------------------------------------------------------------
@import '_colors.scss';
@import '_query.scss';
@import '_mixins.scss';
@import '_titles.scss';
@import '_shadows.scss';
@import '_font.scss';
@import '_icons.scss';
@import '_utilities.scss';
@import '_flex.scss';
@import '_grid-layout-utilities.scss';
@import '_buttons.scss';
@import '_video.scss';


// Layout Assets -------------------------------------------------------------------------
@import '_hero.scss';
@import '_barcontact-01.scss';
// @import '_navbar-01.scss';
@import '_navbar-02.scss';
// @import '_navbar-03.scss';
@import '_layout-content-01.scss';
@import '_layout-content-02.scss';
@import '_layout-content-03.scss';
@import '_layout-content-04.scss';
@import '_layout-content-05.scss';
@import '_layout-content-06.scss';
@import '_layout-content-07.scss';
// @import '_layout-content-full-01.scss';
@import '_layout-content-full-02.scss';
// @import '_layout-content-full-03.scss';
@import '_icons-social-01.scss';
@import '_grid-layout-01.scss';
// @import '_grid-layout-02.scss';
// @import '_grid-layout-03.scss';
// @import '_grid-layout-04.scss';
@import '_testimonials-01.scss';
@import '_cards.scss';
@import '_footer.scss';

// User Tool Kit ------------------------------------------------------------------------
@import '_plyr.scss';